
.admin-nav-list {
    display: flex;
    flex-direction: column;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    max-width: 20vw;
    min-height: 100vh;
    background-color: #333333;
    padding: 10px;
}

.admin-nav-list li a span {
    display: none;
    padding: 0;
    margin: 0;
}

.admin-nav-list li a i {
    color: #ffffff;
    font-size: 20px;
    min-width: 30px;
}

.admin-nav-list li {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
}

.admin-nav-list {
    display: flex;
    flex-direction: column;
}

.admin-nav {
    background-color: #333333;
}


@media (min-width: 1200px) {
    .admin-nav .admin-nav-list {
        width: 50px; /* Początkowa szerokość */
        transition: width 0.3s ease-in-out; /* Animacja szerokości */
        overflow: hidden; /* Ukryj nadmiar treści poza początkową szerokością */
    }

    .admin-nav:hover .admin-nav-list {
        width: 130px; /* Szerokość po najechaniu */
    }

    .admin-nav-list li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c4c4c4;
        text-decoration: none;

    }

    .admin-nav-list li a span {
        font-size: 14px;
        display: none; /* Domyślnie tekst jest niewidoczny */
        white-space: nowrap; /* Zapobiega zawijaniu tekstu */
        overflow: hidden; /* Ukryj nadmiar treści */
        text-overflow: ellipsis; /* Dodaj "..." na końcu przyciętego tekstu */
        margin-left: 10px; /* Odstęp między ikoną a tekstem */
        transition: display 0.3s ease-in-out; /* Animacja wyświetlania tekstu */
    }

    .admin-nav:hover .admin-nav-list li a span {
        display: inline; /* Wyświetl tekst po najechaniu */
    }

    .admin-nav-list li a:hover {
        color: #868686;
    }
}


