
.desktop-arrow {
    margin-right: 5px;
    color: #336699;
}


.desktop-nav {
    display: none;
}

.desktop-list {
    display: flex;
    position: relative;
    /*flex-direction: column; !* Zmieniamy na kolumnę, aby sub-menu pojawiało się poniżej "My account" *!*/
}

.desktop-item, .desktop-item-submenu {
    text-decoration: none;
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    list-style: none;
}

.desktop-submenu {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 0;
    transition: max-height 0.3s ease-in-out; /* Animacja */
}

.desktop-submenu-open {
    max-height: 400px; /* Wysokość dostosowana do potencjalnej maksymalnej wysokości sub-menu */
    transition: max-height 0.3s ease-in-out; /* Animacja */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.li-submenu-item {
    list-style: none;
}

.desktop-submenu-item {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 5px 10px;
}

.desktop-submenu-item:hover {
    background-color: #f5f5f5;
}

.desktop-item-submenu {
    margin-right: auto;
}

.login-reg-panel {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
}

@media (min-width: 576px) {
    .desktop-nav {
        display: none;
    }
}


@media (min-width: 768px) {
    .desktop-nav {
        display: block;
    }

    .desktop-list a, .desktop-item-submenu {
        background-image: linear-gradient(
                to right,
                #54b3d6,
                #54b3d6 50%,
                #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        /*padding: 5px 0;*/
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .desktop-list a:before{
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .desktop-list a:hover {
        background-position: 0;
    }

    .desktop-list a:hover::before{
        width: 100%;
    }

    .desktop-item:nth-last-child(2) { /* Zakładając, że są to ostatnie dwa elementy na liście */
        margin-left: auto;
    }

    .register-nav-btn, .login-nav-btn {
        font-weight: 700;
        font-size: 18px;
    }


}



