.my-account-support {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.support-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.single-ticket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(119,119,119,.17);
}

.single-ticket-id {
    display: flex;
    flex-direction: column;
    color: #696969;
    font-size: 12px;
    margin: 5px 0;
}

.single-ticket-id span {
    font-size: 15px;
    color: #222222;
}

.single-ticket-status-open, .single-ticket-status-closed {
    display: block;
    padding: 2px 6px;
    background-color: #bbf7d0;
    border-radius: 10px;
}

p.single-ticket-id span.single-ticket-status-open {
    color: #22c55e;
}
p.single-ticket-id span.single-ticket-status-closed {
    color: #ef447c;
    background-color: #fecaca;
}

@media (min-width: 992px) {

    .my-account-support {
        display: flex;
        flex-direction: row;
    }
    .support-container {
        flex: 1;
    }

    .single-ticket {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    .subject-ticket {
        min-width: 200px;
    }

    .status-ticket, .status-ticket-open {
        min-width: 200px;
    }

    .status-ticket-open span {
        max-width: 55px;
    }

    .status-ticket span {
        max-width: 80px;
    }
}