.admin-single-user {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
}

.admin-user-eye {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #b0b0b0;
    border-radius: 8px;
    color: #ffffff;
}

.admin-single-user img {
    max-height: 50px;
    margin-right: 10px;
}

.admin-single-user p {
    margin-top: 5px;
}

.admin-single-user div p {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #666666;
    font-weight: 300;
}

.admin-single-user div p span, .admin-users-orders div p span {
    font-size: 14px;
    font-weight: 700;
}

.admin-user-details- {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
    z-index: 99999;
}

.admin-user-details-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.admin-users-orders {
    padding: 5px;
}

.admin-user-last-order {
    display: flex;
    flex-direction: row;
}

.admin-user-last-order {
    margin-top: 10px;
}

.admin-users-orders p {
    font-weight: 300;
}

.admin-users-orders p span {
    font-weight: 700;
}

.admin-user-last-order p {
        display: flex;
        font-weight: 300;
        flex-direction: column;
    flex: 1;
}

.admin-user-last-order p span {
    flex: 1;
}

.admin-users-orders div p span {
    margin-left: 5px;
}

.admin-user-details- form {
    margin-top: 10px;
}

.admin-user-details- form button {
    background-color: #336699;
    color: #ffffff;
    border: none;
    padding: 2px 8px;
    min-width: 100px;

}

/*//https://www.youtube.com/watch?v=hrotHC9OPr4&t=581snes*/