.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination__arrow,
.pagination__number {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.pagination__arrow {
    font-size: 16px;
}

.pagination__number.active,
.pagination__number:hover,
.pagination__arrow:hover {
    border-color: #333;
    background-color: #e9e9e9;
}

@media (max-width: 600px) {
    .pagination__arrow,
    .pagination__number {
        padding: 6px 10px; /* Zmniejszone paddingi dla mniejszych ekranów */
    }
    .pagination__arrow {
        min-width: 30px; /* Minimalna szerokość dla strzałek, aby były kwadratowe */
    }
    .pagination__number {
        min-width: 25px; /* Minimalna szerokość dla numerów, aby zachować czytelność */
    }
}
