.address-container {
    padding: 20px;
    background-color: #ffffff;
    max-width: 400px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
}

.adress-wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 10px;
}

.modal-button {
    width: 80%;
}

h2 {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #00A4EF;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.icons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.icons span {
    margin-left: 10px;
    cursor: pointer;
}

