.add-product-form {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.add-product-succes-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #8be135;
    margin: 10px;
}

.add-product-succes-wrapper p {
    font-size: 13px;
    color: #f4f4f4;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    height: 40px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #336699;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #25557c;
}

.add-prodduct-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.add-product-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;

}

@media (min-width: 1200px) {
    .add-product-form {
        max-width: 600px;
        margin: 20px 0;
    }


}