.info-container {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}

.my-account-info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.info-p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.account-changes {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.account-changes input {
    padding: 5px;
    border: 2px solid rgba(119,119,119,.17);
    border-radius: 5px;
}

.account-changes button {
    color: #ffffff;
    background-color: #336699;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}